@import "../utilidades/mixin";
@import "../utilidades/variables";
@import "../utilidades/extend";
* {
    @extend %reset
}

@media screen and (min-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color:black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
body {
        background-image: url(../img/imagen_2023-05-17_003336906.png);}

    header {
        display: flex;
        justify-content: center;
        padding-top: 1.2em;
        width: 100%;
        .img--logo{
            display: flex;
            background-color: $color-principal;
            width: 15em;}
        nav {
            display: flex;
            justify-content: space-between;
            padding: 0em 1em 1em 1em;
            align-items: center;
            background-color: $color-principal;
            height: 11em;
            width: 100%;
            justify-items: center;}     
            ul {
                display: flex;
                justify-content: space-evenly;
                gap:40px;
                align-items: center;
                width: 100%;
                background-color: $color-principal;
                font-size: 2em;
                height: 4em;}
                li {
                    color:$color-letras ;
                    list-style: none;
                    width: 100%;
                    border: solid ;
                    border-radius: 1rem;
                    text-align: center;
                    padding: 0px 40px 0px 40px;}
    a:link {
                text-decoration: none;
                background-color: $color-principal;}
    a:hover {
                box-shadow: #333333 10px 5px 20px 1px  ;
                border-radius: 1em ;
                font-size: 1;}
    a .img--logo:hover{
        border-radius: 0em;
        font-size: initial;

    } }
    main {
        background-color: $color-principal;
    }
    h2{
        font-size: 3rem;
        background-color:$color-principal;
        text-align: center;}

    .contenedor {
        display: grid;
        padding: 1.3em;
        width: 100%;
        height: 70vh;
        grid-template-columns:2fr 1fr;
        grid-template-rows: 50% 50%;
        column-gap: 1rem;
        align-items: center;
        background-color:$color-principal;
        background-image:url(../img/fondo1.jpg);
        overflow: hidden;
        .p1-div {
            @include full;
            box-sizing: border-box;}
            .p1{
                grid-column: span 1;
                @include full;
                font-size: 1.2em;
                color:black;}
        .img1{
            @include full;
            grid-row: span 2;
            grid-column: 1;}
        .img2{
            @include full;}}

            .contenedor-merch{
                display: flex;
                justify-content: center;
                flex-wrap: nowrap;
                gap: 50px;
                margin-bottom: 20px;
                padding: 1em;
                div{
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                    background-color: #2D4263;
                    border-radius: 20px;}
                    div:hover{
                    background-color: #11294d;}
                .informacion{
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap:15px;
                    text-align: center;}
                    p:first-child{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 25px;
                    font-weight: 300;
                    color: $color-principal;}
                    button{
                        background-color: #263143;
                        width: 100px;
                        height: 35px;
                        border-radius: 10px;
                        border: none;
                        color: $color-principal;
                        font-size: 17px;
                        font-weight: 300;
                        cursor: pointer;
                        button:hover{
                            background-color: #2D4263;
                        }}
                .precio {
                    font-size: 20px;
                    font-weight: 500;
                    color: $color-principal;}
                    .precio span{
                    font-size: 17px;
                    font-weight: 300;
                    color: $color-principal;}
            .foto-vaso{
                height: 10em;
            }
            .foto{
                border-radius: 1em;
            }
        }
    .marcas {
        width: 100%;
        margin: 1.3em 0 1.3em 0;}
    .h2--2{
        padding: 0.66em;}
    .carousel {
        padding: 0em 10em 5em 10em;}

    /* CURSOS*/

    .h2-curso{
        font-size: 4em;}
    .imagenes-cursos{
        display: block;
        .img--curso1 {
            width:100%;
            padding-bottom: 1em;}
        .img--curso2 {
            width: 100%;}}

        /*FOTOS*/

    .contenedor-fotos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: fit-content;
        width: 100%;
        object-fit: cover;
        div img {
            @include full;
        object-fit: cover;
        padding: 0.5em;
        background-color: $color-principal;}
        .img-uno, .img-tres{
            grid-row: span 1;}
        .img-cuatro{
            grid-column: span 3;}
        .img-cinco{
            grid-column: span 3;
            grid-row: span 1;
            height: 100%;}
        .img-diez {
            grid-column: span 2;}}

    /* CONTACTO */

    .main-contacto {
        height:auto;}

/*YO*/
.div-yo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(202, 202, 202);
    padding: 0.3em;
    border-radius: 10px;
    margin-bottom: 3em;
    .p-yo{
        font-size: 2.2em;
        padding: 0.3em;
        @include full;}
    .img-yo{
        height: fit-content;
        width: 100%;}}
.div-ub{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(202, 202, 202);
    padding: 0.3em;
    border-radius: 10px;
    .p-ub{
        font-size: 2.2em;
        padding: 0.3em;
        @include full;}
    .img-ub{
        height: 30em;
        width: 100%;}}

    
        footer {
            background-color: rgb(146, 51, 51);
            height: 8em;
            margin-bottom: 1em;
            p {
                color: $color-principal;
                font-size: 1em;}
            .div-footer{
                display: flex;            
                align-items: center;
                font-size: 1.3em;
                height: 100%;
                background-color: $color-principal;            
                justify-content: space-between;}
            .img-footer{
                height: 9em;
                width: 12em;}
            ul{
                li{
                    justify-content: space-between;
                    list-style: none;
                    img{
                        height: 3em;
                        width: 3em;
                    }
                }
            }

    }
    }
@media screen and (max-width:1024px){
    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color:black;
            font-family: coolvetica;
            width: 100%;}
            body {
                background-image: url(../img/imagen_2023-05-17_003336906.png);}
    
    header {
        display: flex;            
        justify-content: center;
        padding-top: 1.2em;
        width: 100%;
        .img--logo{
        background-color:white;
        width: 15em;}
        nav {
            display: flex;
            flex-wrap:nowrap;
            justify-content:space-between; 
            align-content:center;
            color: $color-letras;
            background-color: $color-principal;                
            justify-items: center;
            width: 100%;
            height: 11em;}
            ul {
                display: flex;
                justify-content: space-evenly;
                gap:0.2em;
                @include full;
                background-color: white;
                align-items: center;
                font-size: 1.2em;}
                li {
                    display: flex;
                    list-style: none;
                    padding: 0.8em;
                    color: $color-letras;
                    width: 100%;
                    border: solid $color-letras ; 
                    border-radius: 1em;
                    height: 1em ;
                    align-items: center;  
                    font-size: 2em;}        
    a:link {
        text-decoration: none;
        background-color: white;}
    a:hover {
        box-shadow: #333333 10px 5px 20px 1px  ;
        border-radius: 1em;
        font-size: larger;}}

        main {
            background-color: $color-principal;
        }
    
    h2 {
        font-size: 3.4rem;
        background-color: white;
        text-align: center;
        width: 100%;}
       
    .contenedor {
        padding: 1.3em;
        display: grid;
        width: 100%;
        height: 70vh;            
        grid-template-columns:1.5fr 1fr;
        grid-template-rows: 50% 50%;
        column-gap: 1rem;
        align-items: center;            
        background-color: white;
        overflow: hidden;
        .p1-div {  
            @include full;      
            box-sizing: border-box;        
            grid-column: span 2;        
            text-align: start;}
            .p1 {
                @include full;
                font-size: 2.1em;
                color: black;
                text-align: start;}
        .img1  {
            width: 100% ;
            height: 100%;
            grid-row: span 1 ;
            grid-column: span 1;
            padding: 0.3em;}
        .img2 {
            @include full;
            padding: 0.3em;}}

            .contenedor-merch{
                display: flex;
                justify-content: center;
                flex-wrap: nowrap;
                gap: 50px;
                margin-bottom: 20px;
                padding: 1em;
                div{
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                    background-color: #2D4263;
                    border-radius: 20px;}
                    div:hover{
                    background-color: #11294d;}
                .informacion{
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap:15px;
                    text-align: center;}
                    p:first-child{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 15px;
                    font-weight: 300;
                    color: $color-principal;}
                    button{
                        background-color: #263143;
                        width: 100px;
                        height: 35px;
                        border-radius: 10px;
                        border: none;
                        color: $color-principal;
                        font-size: 17px;
                        font-weight: 300;
                        cursor: pointer;
                        button:hover{
                            background-color: #2D4263;
                        }}
                    .div-none1{
                        display: none;
                    }}
        
        .marcas {
            width: 100%;
            margin: 1.3em 0 1.3em 0;}
        .h2--2 {
            padding: 0.66em;}
        
        .carousel {
            padding: 3em;
            background-color: $color-principal;}
    
            /* CURSOS */

    .h2-curso{
        font-size: 3em;}
    .img--curso1 {    
        width:100%;
        padding-bottom: 1em;}
    .img--curso2 {
        width: 100%;}
    
            /* FOTOS */
    
    .contenedor-fotos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: fit-content;
        width: 100%;
        object-fit: cover;
        div img {
            @include full;
            object-fit: cover;
            padding: 0.5em;
            background-color: white;}
    .img-uno, .img-tres{
        grid-row: span 1;}
    .img-cuatro{
        grid-column: span 3;}
    .img-cinco{
        grid-column: span 3;
        grid-row: span 1;
        height: 100%;}
    .img-nueve{
        display: none;}
    .img-diez {    
        grid-column: span 3;
        height: 25em;}}

            /* CONTACTO */
    
    .main-contacto {
        padding: 1em;
        height: 50vh;}
    

            /* YO */
    .div-yo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: rgb(202, 202, 202);
        padding: 0.3em;
        border-radius: 10px;
        .img-yo{
            height: fit-content;
            width: 100%;
        padding: 1em;}
        .p-yo{
            font-size: 1.5em;
            padding: 1em;
        } } 
        .div-ub{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            background-color: rgb(202, 202, 202);
            padding: 0.3em;
            border-radius: 10px;
            .p-ub{
                font-size: 2.2em;
                padding: 0.3em;
                @include full;}
            .img-ub{
                height: 30em;
                width: 100%;}}

        
        footer {
            background-color: rgb(146, 51, 51);
            height: 8em;
            margin-bottom: 1em;
            p {
                color: $color-principal;
                font-size: 1em;}
            .div-footer{
                display: flex;            
                align-items: center;
                font-size: 1.5em;
                height: 100%;
                background-color: $color-principal;            
                justify-content: space-between;}
            .img-footer{
                height: 5em;
                width: 7em;}
            ul{
                li{
                    justify-content: space-between;
                    list-style: none;
                    img{
                        height: 2em;
                        width: 2em;
                    }
                }
            }

    }
    }
@media screen and (max-width: 800px){
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color:$color-letras;
            font-family: coolvetica;
            width: 100%;}
            body {
                background-image: url(../img/imagen_2023-05-17_003336906.png);}
    
    header {
        display: flex;            
        justify-content: center;
        padding-top: 1.2em;
        width: auto;
        font-size: 0.5em;;
        .img--logo{
            display: none;
            width: 10em;
            height: 11em;}
        nav {
            display: flex;
            flex-wrap:nowrap;
            justify-content:space-between; 
            align-content:center;
            color: $color-letras;
            background-color: $color-principal;                
            justify-items: center;
            width: 100%;
            height: 11em;}
            ul {
                display: flex;
                justify-content: space-evenly;
                gap:0.2em;
                @include full;
                background-color: $color-principal;
                align-items: center;
                font-size: 1.2em;
                padding-left: 0;}
                li {
                    display: flex;
                    list-style: none;
                    padding: 0.8em;
                    color: $color-letras;
                    width: 100%;
                    border: solid $color-letras ; 
                    border-radius: 1em;
                    height: 1em ;
                    align-items: center;  
                    font-size: 2em;
                    justify-content: center;}        
   header a:link {
        text-decoration: none;
        background-color: $color-principal;
    }
        a:hover {
        box-shadow: #333333 10px 5px 20px 1px  ;
        border-radius: 1em;
        font-size: larger;}}

        main {
            background-color: $color-principal;
        }
    
    h2 {
        font-size: 3.4rem;
        background-color: $color-principal;
        text-align: center;
        width: 100%;}
       
    .contenedor {
        padding: 1.3em;
        display: grid;
        width: 100%;
        height: 70vh;            
        grid-template-columns:1.5fr 1fr;
        grid-template-rows: 50% 50%;
        column-gap: 1rem;
        align-items: center;            
        background-color: $color-principal;
        overflow: hidden;
        .p1-div {  
            @include full;      
            box-sizing: border-box;        
            grid-column: span 2;        
            text-align: start;}
            .p1 {
                @include full;
                font-size: 1.6em;
                color: $color-letras;
                text-align: start;}
        .img1  {
            @include full;
            grid-row: span 1 ;
            grid-column: span 2;
            padding: 0.3em;}
        .img2 {
            display: none;}}

            .contenedor-merch{
                display: flex;
                justify-content: center;
                flex-wrap: nowrap;
                gap: 50px;
                margin-bottom: 20px;
                padding: 1em;
                div{
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                    background-color: #2D4263;
                    border-radius: 20px;}
                    div:hover{
                    background-color: #11294d;}
                .informacion{
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap:15px;
                    text-align: center;}
                    p:first-child{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 15px;
                    font-weight: 300;
                    color: $color-principal;}
                    button{
                        background-color: #263143;
                        width: 100px;
                        height: 35px;
                        border-radius: 10px;
                        border: none;
                        color: $color-principal;
                        font-size: 17px;
                        font-weight: 300;
                        cursor: pointer;
                        button:hover{
                            background-color: #2D4263;}}
                    .div-none{
                        display: none;
                    }}
        
        .marcas {
            width: 100%;
            margin: 1.3em 0 1.3em 0;}
        .h2--2 {
            padding: 0.66em;}
        
        .carousel {
            padding: 1em;
            background-color: $color-principal;}
    
            /* CURSOS */

    .h2-curso{
        font-size: 3em;}
    .img--curso1 {    
        width:100%;
        padding-bottom: 1em;}
    .img--curso2 {
        width: 100%;}
    
            /* FOTOS */
    
    .contenedor-fotos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        height: fit-content;
        width: 100%;
        object-fit: cover;
        div img {
            @include full;
            object-fit: cover;
            padding: 0.5em;
            background-color: $color-principal;}
    .img-uno, .img-tres{
        grid-row: span 1;}
    .img-cuatro{
        grid-column: span 3;}
    .img-cinco{
        grid-column: span 3;
        grid-row: span 1;
        height: 100%;}
    .img-nueve{
        display: none;}
    .img-diez {    
        grid-column: span 2;
        height: 25em;}}

    /* CONTACTO */
    
    .main-contacto {
        padding: 1em;
        height: 100%;}
    
        /*YO*/

        .div-yo {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            background-color: rgb(202, 202, 202);
            padding: 0.3em;
            border-radius: 10px;
            .img-yo{
                height: fit-content;
                width: 100%;
                padding: 1em;}
            .p-yo{
                font-size: 1em;
                padding: 1em;
            } }     

        .div-ub{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            background-color: rgb(202, 202, 202);
            padding: 0.3em;
            border-radius: 10px;
            .p-ub{
                font-size: 1em;
                padding: 0.3em;
                @include full;}
            .img-ub{
                height: 10em;
                width: 100%;
                padding: 1em;}}

        footer {
            background-color: rgb(146, 51, 51);
            height: 8em;
            margin-bottom: 1em;
            p {
                color: $color-principal;
                font-size: 1em;}
            .div-footer{
                display: flex;            
                align-items: center;
                font-size: 1em;
                height: 100%;
                background-color: $color-principal;            
                justify-content: space-between;}
            .img-footer{
                height: 4em;
                width: 6em;}
            ul{
                li{
                    justify-content: space-between;
                    img{
                        height: 1em;
                        width: 1em;
                    }
                }
            }

    }


div ul li {
    list-style: none;}}
    a {
        text-decoration: none;
        width: fit-content;
    }

    h2, p{
        @extend %h2
    }

